/** Common Styles */


body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}

button:hover {
  background-color: #d9400e;
  border-color: #60A0E0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted;
}

a:hover {
  cursor: pointer;
  border: none;
  color: #60A0E0;
}

.content {
  margin: 0 auto;
  min-width: 37.5rem;
}


ul {
	list-style: none;
}

/* Navigation Section */
.top-navigation {
  background-color: #60A0E0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}

.top-navigation > .content {
  height: 4.375rem;
}

.top-navigation .logo {
  height: 4.375rem;
}

.top-navigation .links {
  float: right;
  color: #fff;
  font-size: 1.04rem;
  margin-top: 1.7rem;
  padding-right: 2em;

}

.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
}

.top-navigation .links li.active {
  color: #fff;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #fff;
}

/** Introduction Section */
.introduction {
  background-image: url('../images/intro-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}

.introduction h1,
.introduction h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h3 {
  margin-top: 1.25rem;
  font-size: 1.563rem;
}

/** The introduction buttons */
.introduction .buttons {
  color: white;
  text-align: center;
  margin-top: 1.563rem;
}


/** About Me & Work */
.me,
.work,
.social {
  background-color:#3D4146;
  overflow: hidden;
  padding-bottom: 5rem;
  border: 1px dotted #fff;

}

.me .content,
.work .content,
.social .content {
  margin-top: 2rem;
  padding: 5em;
  color: #fff;
  text-align: center;
  position: relative;
}

.me h2,
.work h2,
.social h2 {
  font-size: 3rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
}

.me p,
.work p,
.social p {
  font-size: 1.75rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
}

/* Spinner */

.work .spinner {

  text-align: center;
  margin-top: -2em;
  color: #60A0E0;
}

/** Footer */


.social .icons {
  padding-left: 0;
  padding-bottom: 2em;
}

.social .icons a {
  border: none;
}

.social .icons > li {
  border-radius: 50%;
  display: inline-block;
  margin: 1.25em;
  border: 1px solid #eaebec;
  padding: 1em;
  text-align: center;
}

.social .icons > li:hover {
  cursor: pointer;
  color: #60A0E0;
  border-color: #60A0E0;
}


.social .copy {
  font-size: 1em;
  font-weight: 300;
  color: #60A0E0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}